{
  "presets": [
    [
      "env",
      {
        "modules": 'commonjs',
        "targets": {
          "node": "current",
          "browsers": "last 2 versions"
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}